body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/syd-wachs-epqNIYI6S7E-unsplash.jpg');
  background-size: cover;
  
  /* animation: fadeIn 5s infinite; */
  color :white
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Estilos de la barra de navegación */
.navbar {
    animation: fadeInDown 1s;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Estilos del título de la página */
  h2 {
    animation: scaleIn 1s;
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Estilos del formulario de búsqueda */
  form.card {
    animation: slideInLeft 1s;
  }
  
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Estilos de las tarjetas de resultados */
  #resultado .card {
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Estilos del modal */
  .modal-content {
    animation: slideInUp 1s;
  }
  
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Estilos del toast */
  .toast {
    animation: slideInRight 1s;
  }
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  